.example-div {
    background-color: powderblue;
    height: 6rem;
    width: 50%;
    
}

.card {
    width: 250px;
    height: 350px;
    padding: 10px;
    border: 3px solid lightblue;
    border-radius: 10px;
    text-align: center;
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}